<ul class="nav-links">
<div class="d-flex flex-column align-items-center mt-4">
    <% if current_user.avatar.attached? %>
      <%= image_tag current_user.avatar, class: "img-fluid rounded-circle", style: "max-width: 5em" %>
    <% else %>
      <%= image_tag "images/dog.webp", class: "img-fluid rounded-circle", style: "max-width: 9em"  %>
    <% end %>
<li class="nav-item mt-1"><span><%= current_user.name %></span></li>
<div class="mt-2 d-flex flex-column align-items-center">
<li class="nav-item"><%= link_to "Categories", root_path, class: 'btn btn-light' %></li>
<li><%= button_to "Log out", destroy_user_session_path, class: 'btn btn-dark mt-2', method: :delete, data: { turbo: false }  %></li>
</div> 
  </ul>
</div>
<div class="hamburger hamburger-menu">
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
</div>

<script>
const hamburger = document.querySelector('.hamburger');
const navLinks = document.querySelector('.nav-links');
hamburger.addEventListener('click', () => {
  hamburger.classList.toggle('clicked');
  navLinks.classList.toggle('show');
});
</script>