<nav class="navbar text-light nav-mobile p-2">
  <div class="d-flex justify-content-between w-100 align-items-center">
    <%= link_to fa_icon('arrow-left', class: 'fa-solid'), root_path, class: 'btn btn-light' %>
    <a class="navbar-brand text-light" href="#">New Category</a>
    <div class="d-flex align-items-center gap-2">
      <% if current_user.avatar.attached? %>
        <%= image_tag current_user.avatar, class: "img-fluid rounded-circle", style: "max-width: 5em" %>
      <% else %>
        <%= image_tag "images/dog.webp", class: "img-fluid rounded-circle", style: "max-width: 5em"  %>
      <% end %>
    </div>
  </div>
</nav>
<div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
  <%= form_with model: Category, html: {class: "form-horizontal d-flex flex-column "}, local: true do |form| %>
    <div class="form-group">
      <%= form.label :name, "Category name:", class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= form.text_field :name, class: "form-control", placeholder: "Enter the category name", value: "" %>
      </div>
    </div>
      <% if @category.errors[:name].any? %>
      <div class="alert alert-danger">
        <%= @category.errors[:name].first %>
      </div>
  <% end %>
    <div class="form-group">
      <%= form.label :icon, "Upload a category image:", class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= form.file_field :icon, class: "form-control-file" %>
      </div>
    </div>
  
    <div class="form-group align-self-center">
      <div class="col-sm-offset-2 col-sm-10">
        <%= form.submit "Create Category", class: "btn btn-primary" %>
      </div>
    </div>
    <% end %>
</div>